h1 {
    font-family: "Roboto Black";
    margin-bottom: .1rem;
}

ul.datosPersonales {
    padding-left: 1.3rem !important;
    padding-bottom: .5rem;
    margin-bottom: .1rem;
   border-bottom: grey solid 1px;
}

ul.datosPersonales li {
    list-style: none;
    line-height: 2;
    display: flex;
    align-items: center;
}

ul.datosPersonales li i {
    margin-right: .4rem;
}

div.contenedorRedes {
    padding-left: 1rem;
}

div.contenedorRedes a {
    color: grey;
    margin-right: .5rem;
    text-decoration: none;
}
#resume-header {
    margin-top: 20px;
    margin-bottom: 20px;
}

#profile-picture {
    width: 100%;
}

#resume-footer {
    padding: 20px;
    text-align: center;
}

.border-bottom-gray {
    padding-bottom: 10px;
    border-bottom: solid 1px darkgray;
}

.work-position {
    margin-bottom: 40px;
}

.project {
    margin-bottom: 40px;
}

div.principal {
    display: flex;
    justify-content: center;
}


div.contenedor_formulario {
    margin-top: 4rem;
    width: 40rem;
}

div.contenedor_experiencias {
    display: flex;
}

div.contenedor_experiencias div {
    width: auto;
}

div.contenedor_experiencias div.textos {
    margin-left: 1.2rem;
}

div.formLogin {
    margin-top: 6rem;
}

div.contenedorAdmin {
    margin-top: 5rem;
    text-align: center;
}
